:root{
  --color1:#7ab6da;
  --color2:#4e89ae;
  --color3:#43658b;
  --color4:#ed6663;
  --color5:#ffa372;
  --fuente:Georgia, 'Times New Roman', Times, serif;
}

header {
  text-align: center;
  background-color: var(--color5);
}

.pagina {
  background-color: var(--color3);
}

.texto {
  font-family: var(--fuente);
}

section {
  display: -webkit-flex;
  display: flex;
}

footer{
  background-color: var(--color5);
}

#barra{
  text-align: right;
  background-color: var(--color4);
  width:(100%)-6px;
  padding:6px;
}
#tablero {
  background-color: var(--color2);
  width:50%;
  padding:6px;
}
#instrucciones{
  background-color: var(--color2);
  width:50%;
  padding:6px;
}
#datos{
  background-color: var(--color1);
  width:(100%)-6px;
  padding:6px;
}
#pista{
  background-color: var(--color4);
  width:(100%)-6px;
  padding:6px;
}

.divisor{
  border: 5px solid var(--color3);
}

.titulo{
  font-family: var(--fuente);
}

#botonResolver{
  transition-duration: 0.2s;
  background-color: var(--color1);
  border: 2px solid var(--color2);
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 8px;
  cursor: pointer;
  font-family: var(--fuente);
}

#botonResolver:hover{
  background-color: var(--color5);
  color: white;
}

#tabla{
  background-color: var(--color5);
}

.columna_num{
  max-height: 25px;
  max-width: 25px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.columna_input{
  max-width: 14%;
}

.columna_vacio{
  height: 25px;
  width: 25px;
}

.celda {
  height: 25px;
  width: 25px;
  font-family: var(--fuente);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: 0;
  text-transform: uppercase;
}
